@import "tailwindcss";

:root {
    --primary-bg: #1a202c;
    --primary-text: #ffffff;
    --main-color: #1ec05f;
}

@theme {
    --color-Green: var(--main-color);
    --color-Text: var(--primary-text);
    --color-BG: var(--primary-bg);
}

body {
    background-color: var(--primary-bg);
    color: var(--primary-text);
    transition: background-color 0.3s ease-in-out, color 0.1s ease-in-out;
}
#toolbarViewer{
    display: none;
}
.toolbarHorizontalGroup{
    
}